*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
}

h2{
    font-size: x-large;
    margin-top: 3%;
    color: red;
}

.paragraph{
    margin-top: 2%;
    margin-bottom: 1.2%;

}

.contain-img img{
    width: 25%;
    margin-left: 10%; 
    margin-top: 3%;
    display: flex;
    justify-content:end;
    
}

.contain-img-final img {
    width: 85%;
    height: 20%;
}
