*{
    margin: 0;
    padding: 0;
}

.content{
    background: rgba(255, 192, 203, 0.516);
    column-count: 1;
    
}

h1{
    text-align: center;
    font-size: xx-large;
    margin-top: 2%;
    margin-bottom: 2.1%;
   height: 2%;
}

.paragraph{
    display: flex;
    flex-direction: column;
}

.content-img{
    width: 50%;
    height: 2%;
   
}